h1 {color: blue;}

html{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    border:8px solid black;
    padding: 10%;

}

div {
    color: bisque;
    height: 500px;
    width: 500px;
    border: 5px solid black;
}