h1 {color: blue;}

html{
    
    font-family: "Press Start 2P";
    color: cornflowerblue
}

#landing {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10%;
    background-color: rgb(25, 6, 39);
    height: 100%;
}

marquee {
    font-family: "Press Start 2P";
    color: cornflowerblue;
}

.banner {
  width: 100%;
}

.banner-image {
  width: 100%;
  height: auto;
  object-fit: cover;       
  object-position: center;  
  display: block;
}

#welcome {
    padding: 1.5rem 10%;
}

#portal {
    padding: 1.5rem 10%;
}
